.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-link-hover);
}
.logo-black {
  color: var(--color-logo-header);
}
.logo-footer {
  display: block;
  margin-bottom: 20px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-link-hover);
}
.logo-white {
  color: var(--color-logo-footer);
}
