.heder-portfolio {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--color-border);
}
.nav {
  display: flex;
  align-items: center;
}
.heder-blok {
  display: flex;
  align-items: center;
}
.link-nav {
  display: flex;
  margin-left: auto;

  margin-top: 0px;
  margin-bottom: 0px;
}

.site-nav {
  display: flex;
  margin-left: 93px;

  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}
.heder-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-title-text);

  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav li:not(:last-child) {
  margin-right: 50px;
}
.heder-link:hover,
.heder-link:focus {
  color: var(--color-link-hover);
}
/* Ефекти навігації */

.s:hover svg rect,
.s:focus svg rect {
  stroke-width: 6;
  stroke-dasharray: 45, 245;
  stroke-dashoffset: 160;
}
.p:hover svg rect,
.p:focus svg rect {
  stroke-width: 6;
  stroke-dasharray: 77, 225;
  stroke-dashoffset: 145;
}
.svg {
  position: absolute;
  top: 0;
  left: 0;
}
.svg rect {
  stroke: var(--color-link-hover);
  stroke-width: 0;
  transition: 0.4s;
  stroke-dasharray: 300, 0;
}
/* Підкреслення навігації */
.site-nav li {
  position: relative;
}
.activ::after {
  display: inline-block;
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--color-link-hover);
  transition: width 300ms var(--kub);
}
.activ:hover::after,
.activ:focus::after {
  width: 0%;
}
